@charset "UTF-8";
/* CSS Document */
body, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, fieldset, input, textarea, p, blockquote   {
	margin:0;
	padding:0;
}
fieldset, img {
	border:0;
}
address, caption, cite, code, dfn, em, strong, th, var {
	font-style:normal;
	font-weight:normal;
}
ol, ul {
	
}
caption  {
	text-align:left;
}


abbr, acronym {
	border:0;
}
a {
	text-decoration:none !important;
}
/*style*/
body{

/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#ffffff+0,ffffff+68,ededed+100 */
background: rgb(255,255,255); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(255,255,255,1) 68%, rgba(237,237,237,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(255,255,255,1) 68%,rgba(237,237,237,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(255,255,255,1) 68%,rgba(237,237,237,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed',GradientType=0 ); /* IE6-9 */
 height: 100vh ;
  width:100%;
  font-family: 'Noto Sans TC';
  font-style: normal;
  }
.container{
	background: url(./bg-lock.png) no-repeat top center;
	display: block;
	width: 100%;
	max-width: 1200px;
	margin: auto;
}
.top{
	position: relative;
	height: 288px;
}
 .logo{
	 position: absolute;
	 top: 30px;
	 left: 30px;
}
.logo img{
	width: 110px;
}

.info{
	width: 100%;
	text-align: center;
	color: #333;
}
.info h2{
	display: block;
	color: #fff;
	font-family: 'Noto Sans TC';
	font-weight: 700;
	font-size: 33px;
	line-height: 40px;
	padding: 20px;
	
	/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#cf000e+0,cf000e+19,cf000e+82,cf000e+100&0+0,1+18,1+82,0+100 */
background: -moz-linear-gradient(left,  rgba(207,0,14,0) 0%, rgba(207,0,14,1) 18%, rgba(207,0,14,1) 19%, rgba(207,0,14,1) 82%, rgba(207,0,14,0) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(left,  rgba(207,0,14,0) 0%,rgba(207,0,14,1) 18%,rgba(207,0,14,1) 19%,rgba(207,0,14,1) 82%,rgba(207,0,14,0) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right,  rgba(207,0,14,0) 0%,rgba(207,0,14,1) 18%,rgba(207,0,14,1) 19%,rgba(207,0,14,1) 82%,rgba(207,0,14,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00cf000e', endColorstr='#00cf000e',GradientType=1 ); /* IE6-9 */


}

.info h4{
	display: block;
	width: 49%;
	margin:30px auto;
	font-size: 18px;
	line-height: 28px;
}
.info p{
	font-size: 18px;
	line-height: 24px;
	display: block;
	width: 50%;
	margin:10px auto 50px auto; 
}


footer{
	width: 100%;
	text-align: center;
	color: #777777;
	padding: 30px 0px;
	line-height: 1.6em;
	font-size: 14px;
}
footer > p {
	line-height: 1.6em;
	font-size: 14px;
	display: inline;
}
footer a{
	color: #777777;
}

@media only screen and (max-width: 600px) {

	.container{
		background-size:auto 250px;
	}
	.top{
		height: 250px;
	}
	 .logo{
		 position: absolute;
		 padding: 0;
		 top: 20px;
		 left: 15px;

	}
	.logo img{
		width: 90px;
	}
	
	.info h2{
		font-size: 24px;
		line-height: 35px;

	}
	
	.info h4{
		width: 85%;
		margin:30px auto;
		font-size: 16px;
		line-height: 24px;
	}
	.info p{
		font-size: 14px;
		line-height: 20px;
		width: 85%;
		margin:10px auto 40px auto; 
	}
	


}
